@{
    ViewData["Title"] = "Территория грозового племени";
}


    <div>
        <h1>Территория Грозового племени</h1>
        <div style="margin: 0 10%;">
            <img src="../images/Грозовое.jpg" style="width: 100%">
        </div>
        <p>
            Земли Грозового племени лежат в местах, которые Двуногие называют лесом Белого Оленя, или лесом Уайт Харт.
            На территории также есть такие места Двуногих, как Уиндоверское шоссе и Челлфордский лес.
        </p>
        <p style="color: black; text-align: center;"><b>Соседние локации:</b></p>
        <ul class="List" style="margin: 0 150px">
            <li class="menuLi"><a class="Link" href="../Locations/FourTrees" style="padding: 5px;">Четыре дерева</a></li>
            <li class="menuLi"><a class="Link" href="../Locations/RiverClan" style="padding: 5px;">Территория речного племени</a></li>
            <li class="menuLi"><a class="Link" href="../Locations/ShadowClan" style="padding: 5px;">Территория племени теней</a></li>
            <li class="menuLi"><a class="Link" href="../Locations/Loners" style="padding: 5px;">Нейтральная территория</a></li>
        </ul>
        <br />

        @if (Context.Session.Keys.Contains("author"))
        {
            <form action="../Locations/Message?loc=1" method="post" style="margin: 0 7%;">
                <br />
                Ваш пост: <br /><textarea type="text" name="message" style="width: 700px; height: 100px;"></textarea>
                <br />
                <input type="submit" value="Отправить" />
            </form>
        }
        else
        { <p>Для участия в ролевой войдите или зарегестрируйтесь.</p>}

    </div>


@foreach (var p in CWsite.Models.PostModel.GetPosts("ThunderClan"))
{
    <br />
    <div style="background-position: center; background-color: #fff0e5; ">
        <span style="font: bold">@p.Author</span>
        <br />
        <span>@p.Time</span>
        <p>@p.Message</p>
    </div>
}