@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Главная";
}

    <div>

        <h1>Добро пожаловать!</h1>
        <p style="font-size: 16pt;">Ну короче хз чо тут писать не умею я тексты писать, но вы держитесь там. Добро пожаловать на сайт ролевой по фандому, который сдох году в 2015 наверно. Тут можно делать всякие штуки, но в основном ничего. Потыкайтесь, сами всё поймёте. Но если вы не знакомы ни с явлением текстовых ролевых, ни с фандомом Котов Воителей, то скорее всего не поймёте.</p>
    </div>
