@{
    ViewData["Title"] = "Список игроков";
}

<div>
    <h1>Список игроков</h1>
    <ul class="List">
        <li class="L"><img src="../images/ИконкаГ.png" style="width: 70px; float: left; padding-left: 150px;" /><a href="~/Players/GetClan?clan=1" class="A">Грозовое племя</a></li>
        <li class="L"><img src="../images/ИконкаР.png" style="width: 70px; float: left; padding-left: 150px;" /><a href="~/Players/GetClan?clan=2" class="A">Речное племя</a></li>
        <li class="L"><img src="../images/ИконкаВ.png" style="width: 70px; float: left; padding-left: 150px;" /><a href="~/Players/GetClan?clan=3" class="A">Племя ветра</a></li>
        <li class="L"><img src="../images/ИконкаТ.png" style="width: 70px; float: left; padding-left: 150px;" /><a href="~/Players/GetClan?clan=4" class="A">Племя теней</a></li>
        <li class="L"><img src="../images/ИконкаЗ.png" style="width: 70px; float: left; padding-left: 150px;" /><a href="~/Players/GetClan?clan=5" class="A">Звёздное племя</a></li>
        <li class="L"><a href="~/Players/GetClan?clan=6" class="A" style="padding-left: 160px">Бродяги, одиночки и домашние</a></li>
    </ul>
</div>
