@{
    ViewData["Title"] = "Ролевая";
}



<div>
    <h1>Локации</h1>
    <ul class="List">
        <li class="L"><img src="../images/ИконкаГ.png" style="width: 70px; float: left; padding-left: 100px;" /><a href="../Locations/ThunderClan" class="A" style="padding-left: 200px">Территория грозового племени</a></li>
        <li class="L"><img src="../images/ИконкаР.png" style="width: 70px; float: left; padding-left: 100px;" /><a href="../Locations/RiverClan" class="A" style="padding-left: 200px">Территория речного племени</a></li>
        <li class="L"><img src="../images/ИконкаВ.png" style="width: 70px; float: left; padding-left: 100px;" /><a href="../Locations/WindClan" class="A" style="padding-left: 200px">Территория племени ветра</a></li>
        <li class="L"><img src="../images/ИконкаТ.png" style="width: 70px; float: left; padding-left: 100px;" /><a href="../Locations/ShadowClan" class="A" style="padding-left: 200px">Территория племени теней</a></li>
        <li class="L"><img src="../images/ИконкаЗ.png" style="width: 70px; float: left; padding-left: 100px;" /><a href="../Locations/FourTrees" class="A" style="padding-left: 200px">Четыре дерева</a></li>
        <li class="L"><a href="../Locations/Loners" class="A" style="padding-left: 200px">Нейтральная территория</a></li>
    </ul>
</div>