@font-face {
    font-family: "Slav";
    src: url(../6.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
    font-stretch: ultra-condensed;
}


body {
    background: url(../images/fon.jpg) #8c7068;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Slav";
}


h1 {
    text-align: center;
    margin-top: 10px;
    padding: 30px;
    font-size: 30pt;
}

h2 {
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
}

.menuLi {
    float: left;
}

.menuA {
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

    .menuA:hover {
        background-color: #111111;
    }


aside {
    background-color: #524e4d;
    width: 220px;
}

p, span {
    text-align: justify;
    text-indent: 1cm;
    padding: 20px 50px;
}

div {
    background-color: #f7d7b2;
    background-image: url(../images/tex2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0% 20%;
}

.leftAside {
    float: left;
}

.rightAside {
    float: right;
}

.List {
    list-style-type: none;
    overflow: hidden;
    display: block;
    text-decoration: none;
    /*padding: 10px, 200px;*/
    text-align: center;
}

.L {
    border-style: outset;
    border-color: #524e4d;
    font-size: 26pt;
    font-family: Geneva;
    list-style-type: none;
    overflow: hidden;
    color: white;
    display: block;
    text-decoration: none;
}

.A {
    color: black;
    display: block;
    padding: 18px 0px 12px 300px;
    text-decoration: none;
    text-align: left;
}

    .A :hover {
        background-color: #e8a487;
    }


.Link {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px black;
}